.u-section-1 {
  background-image: url("bitcoin.jpg");
  background-position: 50% 50%;
  min-height: 751px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 321px);
  min-height: 751px;
  background-image: none;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-1 .u-shape-1 {
  width: 58px;
  height: 58px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 300;
  background-image: none;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 20px 46px 20px 44px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 619px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 321px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 474px;
  }

  .u-section-1 .u-group-1 {
    width: 330px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 29.42% 50%;
    min-height: 356px;
  }

  .u-section-1 .u-group-1 {
    width: 283px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 224px;
  }

  .u-section-1 .u-group-1 {
    width: 233px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}
